---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const endpoint =
  "https://kupgmemrqcbimvzjdhok.supabase.co/rest/v1/People?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1cGdtZW1ycWNiaW12empkaG9rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5NzYyNzMsImV4cCI6MjA3ODU1MjI3M30.k4vb_hR80dOuSxZJ2UAKitrSg1TdTEjJXaAsQVbXzQQ";
const options = {
  method: "GET",
  headers: {
    apikey: key,
  },
};

const data = await fetch(endpoint, options).then((res) => res.json());
console.log(data);
---

<Layout>
  <h1>Product List</h1>
  <section>
    {data.map((product) => <Card data={product} />)}
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    background-color: #b0b4bd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.362);
    padding: 20px;
    margin: 10px;
  }

  h1 {
    margin: 10px;
  }
</style>
