body {
  background-color: rgb(255, 255, 255);
  display: block;
  padding: 0;
  margin: 1rem 1rem 0 1rem;
}

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Open-Sans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

h1,
h2 {
  font-family: Poppins;
  color: black;
  margin-bottom: 0rem;
  margin-top: 1em;
  font-weight: bold;
}

p {
  font-family: Open-Sans;
  color: black;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
