<footer>
  <nav class="footer">
    <a href="index.html">Help</a>
    <a href="productlist.html">Contact</a>
    <a href="#">About us</a>
  </nav>
</footer>

<style>
  footer {
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    align-items: normal;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    gap: 3rem;
    background-color: #aeb8d63b;
    padding: 25px;
    border-radius: 2px;
    margin-bottom: 20px;
  }

  footer a {
    margin: 20px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(66, 66, 66);
    letter-spacing: 0.04rem;
  }
</style>
